.example {
    width: 400px;
    height: 500px;
  
    .content {
     // background: green;
      width: 800px;
      height: 480px;
    }
  }

  .BooingSales{
    height: 450px;
  }

  .TopPortion{
    height: 450px;
  }