.scheduling {
  padding: 50px 0px;
}
.scheduling p {
  color: #626262;
  font-size: 18px;
  text-align: center;
}
.scheduling .row .col-4 {
  padding: 0px 30px;
}
.scheduling .row h1 {
  font-size: 20px;
  color: #0c4767;
}
.scheduling .row p {
  text-align: start;
  font-size: 16px !important;
  color: #626262;
}
.scheduling-desc {
  padding: 20px 30px !important;
}

